<div class="navbar-cocktail">This Specific Cocktail</div>


<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  <%= @cocktail.name %>
</div>
<div class="navbar-lewagon">
  <span class="navbar-brand">
    <%= link_to "Add a new Cocktail", new_cocktail_path, class: "btn btn-ghost" %>
    <%= link_to "Add a new Ingredient", new_ingredient_path, class: "btn btn-ghost" %>
    <%= link_to "Home", cocktails_path, class: "btn btn-ghost" %>
  </span>
</div>
  <div class="notification">
    <div class="notification-content"> Ingredients:
    <i class="fab fa-ioxhost"></i>
  </div>
  </div>
<% @cocktail.doses.each do |cocktail_dose| %>
  <div class="notification">
    <i class="fab fa-ioxhost"></i>
    <div class="notification-content">
      <p><small><%= cocktail_dose.ingredient.name %></small></p>
      <p><%= cocktail_dose.description %></p>
    </div>

    <div class="notification-actions">
      <%= link_to  dose_path(cocktail_dose.id), method: :delete do %>
      Delete <i class="far fa-trash-alt"></i>
      <%end%>
    </div>
  </div>
<% end %>
<!-- ***********HERE************* -->
<%= cl_image_tag @cocktails.first.photo.key, height: 300, width: 300, crop: :fill %>

<div class="notification">
  <div class="notification-form">
  <div class="form-container simple_form search">

  <%= simple_form_for([@cocktail, @dose]) do |f| %>
    <%= f.error_notification %>

  <div class="search-form-control form-group">
    <%= f.input :description, required: false,  wrapper_html: { class: "form-control string required" }  %>
  </div>
  <div class="search-form-control form-group">
    <%= f.association :ingredient, wrapper_html: { class: "form-control string required" }  %>
  </div>
    <%= f.submit class: "btn-ghost f-item-margin" %>
    <%= link_to "Go back", cocktails_path , class: "btn btn-flat" %>
  <% end %>
</div>
</div>
</div>



<div class="notification">
   <i class="fas fa-comments"></i>
    <div class="notification-content">
      <small>SEE THE COMMENTS BELOW
        <%= link_to new_cocktail_review_path(@cocktail.id), class: "card-text" do %>
        <p> Add a comment </p>
      <%end%>
    </small>
    </div>
  </div>
<% @cocktail.reviews.each do |cocktail_reviews| %>
  <div class="notification">
   <i class="fas fa-comments"></i>
    <div class="notification-content">
      <p> <small>Rating: </small>
        <% for i in (1..cocktail_reviews.rating.to_i) do %>
         <small> <i class="fas fa-star"></i></small>
        <%end%>
      </p>
      <p><%= cocktail_reviews.content%></p>
    </div>

  </div>
<% end %>

