<div class="banner" style='background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.1)), url(https://st2.depositphotos.com/5857850/9043/v/950/depositphotos_90436236-stock-illustration-cocktails-set-cocktail-bar-cartoon.jpg)'>
  <div class="container">
    <h1> All ingredients you can make Cocktail with!</h1>
    <p>Checkout the dirnks with each ingredient!...</p>
  </div>
</div>

<div class="navbar-lewagon">
  <span class="navbar-brand">
    <%= link_to "Add a new Cocktail", new_cocktail_path, class: "btn btn-ghost" %>
    <%= link_to "Add a new Ingredient", new_ingredient_path, class: "btn btn-ghost" %>
    <%= link_to "Home", cocktails_path, class: "btn btn-ghost" %>
  </span>
</div>


  <%@ingredients.each do |i|%>
    <div class="notification">
        <i class="fab fa-ioxhost"></i>
        <div class="notification-content">
          <p><small><%= i.name %></small></p>
          <p><%= link_to "View drinks made with this ingredient! ", ingredient_path(i.id), class: "link-text"%></p>
        </div>
      </div>
  <%end%>
