<div class="banner" style='background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.1)), <%= image_tag 'banner.jpg'%>'>
  <div class="container">
     <h1>ADD A NEW INGREDIENT!</h1>
      <p>Lets make some cocktail...</p>
  </div>
</div>


<div class="navbar-lewagon">
  <span class="navbar-brand">
    <%= link_to "Add another Ingredient", new_ingredient_path, class: "btn btn-ghost" %>
    <%= link_to "Add a new Cocktail", new_cocktail_path, class: "btn btn-ghost" %>
    <%= link_to "Home", cocktails_path, class: "btn btn-ghost" %>
   </span>
</div>
<div class="form-container">
    <div class="f-space">
  <%= form_for @ingredient, :html => {:class => "form-horizontal center"} do |f| %>
      <div class="form-group">
        <%= f.label :name, "Ingredient:", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <%= f.submit "Submit", class: "btn-gradient" %>
 <% end %>
</div>
</div>

