
<div class="banner" style='background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.1)), url(https://st2.depositphotos.com/5857850/9043/v/950/depositphotos_90436236-stock-illustration-cocktails-set-cocktail-bar-cartoon.jpg)'>
  <div class="container">
    <h1> Lets add ingredients to ... <%= @cocktail.name %></h1>

  </div>
</div>

<div class="navbar-lewagon">
  <span class="navbar-brand">
    <%= link_to "Add a new Cocktail", new_cocktail_path, class: "btn btn-ghost" %>
    <%= link_to "Add a new Ingredient", new_ingredient_path, class: "btn btn-ghost" %>
    <%= link_to "Home", cocktails_path, class: "btn btn-ghost" %>
  </span>
</div>
  <div class="notification notification-bg">
    <div class="notification-content"> Ingredients:
    <i class="fab fa-ioxhost"></i>
  </div>
  </div>
<% @cocktail.doses.each do |cocktail_dose| %>
  <div class="notification notification-bg">
    <i class="fab fa-ioxhost"></i>
    <div class="notification-content">
      <p><small><%= cocktail_dose.ingredient.name %></small></p>
      <p><%= cocktail_dose.description %></p>
    </div>

    <div class="notification-actions">
      <%= link_to  dose_path(cocktail_dose.id), method: :delete do %>
      Delete <i class="far fa-trash-alt"></i>
      <%end%>
    </div>
  </div>
<% end %>


<div class="notification">
  <div class="notification-form">
  <div class="form-container simple_form search">

  <%= simple_form_for([@cocktail, @dose]) do |f| %>
  <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= cl_image_tag @cocktail.photo.key, height: 300, width: 300, crop: :fill, class:"single-img" %>
  <div class="search-form-control form-group">
    <%= f.input :description, required: false,  wrapper_html: { class: "form-control string required" }  %>
  </div>
  <div class="search-form-control form-group">
    <%= f.association :ingredient, wrapper_html: { class: "form-control string required" }  %>
  </div>
    <%= f.submit class: "btn-ghost f-item-margin" %>
    <%= link_to "Go back", cocktails_path , class: "btn btn-flat" %>
  <% end %>
</div>
</div>
</div>
